.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.home .results .result {
  margin: 1rem;
  border: 1px solid #a2a2a2;
  border-radius: 10px;
  display: flex;
  text-align: center;
}

.home .results .result a {
  padding: 1rem;
  text-decoration: none;
  color: #000;
}

/* Detail */

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10%;
  text-align: center;
}

.detail > h1 {
  font-size: 4rem;
}
.note {
  display: flex;
  align-items: center;
  font-size: 2rem;
}
.note > h2 {
  font-size: 2rem;
  font-weight: 100;
}
.detail > img {
  margin: 0 10%;
  width: -webkit-fill-available;
}
.summary {
  text-align: center;
}
.summary p {
  text-align: left;
}
.casting {
  text-align: center;
}
.persons {
  display: flex;
  flex-wrap: wrap;
}
.persons > * {
  margin: 1rem;
}

.person:hover {
  cursor: pointer;
}

.person-infos {
  background: antiquewhite;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  align-items: center;
}
.person-infos .character {
  width: fit-content;
  height: fit-content;
  flex-direction: column;
  display: flex;
  font-size: 2rem;
  align-items: center;
}
.character img {
  width: fit-content;
  margin-top: 1.5rem;
  border: 1px solid #969696;
  border-radius: 10px;
  background: #fff;
  padding: 1rem;
}

.person-infos h3 {
  font-size: 3rem;
}
.main-infos {
  font-size: 2rem;
}
.nationality {
  display: flex;
  justify-content: space-between;
}
.nationality img {
  width: 4rem;
}

@media screen and (max-width: 800px) {
  .detail > img {
    margin: 10%;
  }
  .persons {
    justify-content: center;
  }
}
